<body style="background-color: beige;">
<!-- <app-filter></app-filter> -->
<!-- <app-uploadimage></app-uploadimage> -->
<!-- <app-randomcolor></app-randomcolor> -->
<!-- <app-pringtable></app-pringtable> -->
<!-- <app-primecrudopr></app-primecrudopr> -->
<!-- <app-table></app-table> -->
<!-- <app-primeng></app-primeng> -->
<!-- <app-material></app-material> -->
<!-- <app-randomcard></app-randomcard> -->
<!-- <app-contectmenu></app-contectmenu> -->
<!-- <app-yourdrs1></app-yourdrs1> -->
<!-- <app-yourdrs2></app-yourdrs2> -->
<!-- <app-testyourdrs></app-testyourdrs> -->
<!-- <app-yourdrs3></app-yourdrs3> -->
<!-- <app-kanban></app-kanban> -->
<!-- <app-yourdrs3></app-yourdrs3> -->
<!-- <app-dargdrop></app-dargdrop> -->
<app-providertable></app-providertable>
</body>
